@import '../../styles/global';
@import '../../styles/var';

.card {
    @include card;
    &_image {
        @include card-image;
        flex-grow: 1;
    }
    &_btn {
        @include card-btn;
    }
    span {
        font-size: 2rem;
        font-weight: 900;
        margin: 1rem;
    }
}
