$base-color: rgb(2, 2, 2);
$btn-color: rgb(255, 123, 0);

$header-height: 120px;
$footer-height: 50px;

@mixin card {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-width: 300px;
    margin: 3rem 1rem;
    flex: 0 1 40%;
    border-radius: 1rem;
    box-shadow: 9px 4px 18px 1px rgba(34, 60, 80, 0.2);
}

@mixin card-image {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    > span {
        padding-left: 1rem;
    }
}

@mixin card-description {
    flex-grow: 1;
    > p {
        margin-bottom: 2rem;
        padding: 0 2rem;
    }
}

@mixin card-btn {
    width: 10rem;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    background-color: $btn-color;
    text-align: center;
    border-radius: 0.5rem;
    text-decoration: none;
    color: azure;
    font-weight: 700;
    &:hover {
        color: black;
    }
}
