@import '../../styles/global';
@import '../../styles/var';

.recipe {
    > h1 {
        font-size: 4rem;
        text-align: center;
        margin: 5rem auto 2rem;
    }
    &_img {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        > img {
            max-width: 100%;
        }
    }
    &_info {
        &__instructions {
            > h3 {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            > p {
                font-size: 1.2rem;
                line-height: 1.8rem;
                margin: 2rem;
                text-align: justify;
            }
        }
        &__table {
            margin: 2rem auto 4rem;
            td {
                padding: 0.5rem 2rem;
            }
        }
        &__tag {
            text-align: center;
            font-size: 1.5rem;
            line-height: 2.5rem;
            font-style: oblique;
            > span {
                font-weight: 700;
            }
        }
    }
    &_video {
        display: flex;
        flex-direction: column;
        > h3 {
            text-align: center;
            font-size: 2rem;
        }
        iframe {
            margin: 2rem auto;
            height: 320px;
            width: 430px;
        }
    }
}
